{
    {$CADDY_ACME_EMAIL:}
}

import site.Caddyfile

www.{$DOMAIN} {
    redir https://{$DOMAIN}{uri} 308
}

{$DOMAIN} {
    header Strict-Transport-Security "max-age=63072000; includeSubDomains"
    import site
}
