:root {
    --app-current-color: var(--app-chat-color);
    --app-current-color-soft: var(--app-chat-color-soft);
}

.bg-app {
    background-color: var(--app-chat-color);
}

.text-app {
    color: var(--app-chat-color);
}
