.bg-app {
    background-color: var(--app-space-color);
}

.text-app {
    color: var(--app-space-color);
}

.bg-red-500 {
    background-color: var(--color-red-500);
}

.bg-yellow-500 {
    background-color: var(--color-yellow-500);
}

.bg-green-500 {
    background-color: var(--color-green-500);
}
